In [9]:
# Uygulama
## Veri çerçevesi oluşturma ve rassal veri üretme 
import pandas as pd
import numpy as np

data = pd.DataFrame()
data['gender'] = ['male'] * 100 + ['female'] * 100
data['weight'] = np.append(np.random.normal(80, 8, 100), np.random.normal(64, 5, 100))
data['height'] = np.append(np.random.normal(185, 25, 100), np.random.normal(166, 15, 100))

In [10]:
data.head()

  gender     weight      height
0   male  68.300310  165.483867
1   male  89.485197  226.154202
2   male  71.764815  199.102840
3   male  83.887506  229.841705
4   male  70.078706  155.912435

In [11]:
data.height.mean()

176.13247724970438

In [12]:
data.height.std()

22.155353976154966

## numpy kütüphanesini kullanarak üreteceğiniz 3 farklı veri aracılığı ile merkezi eğilim ve dağılım ölçümlerini hem yukarıda verilen matematiksel formülle hem de python'da hazır bulunan (built-in) kodlar aracılığıyla analiz edin!!!

In [51]:
df = pd.DataFrame()

In [52]:
df["Notlar"] = np.append(np.random.normal(75,10,10),np.random.normal(65,10,10))

In [53]:
df

       Notlar
0   57.682504
1   63.869442
2   82.287580
3   75.551028
4   83.221852
5   64.441397
6   70.022522
7   70.975552
8   67.595920
9   78.562764
10  86.103860
11  84.782259
12  57.819974
13  60.533929
14  65.459597
15  63.574352
16  68.563579
17  63.072224
18  49.498259
19  65.004682

In [54]:
sınıf_notları = np.append(np.random.normal(75,10,10),np.random.normal(65,10,10))

In [55]:
sınıf_notları

array([71.39235996, 84.50010168, 74.6453537 , 85.30009819, 84.85989067,
       73.96644053, 84.51751536, 71.89904242, 82.21875949, 71.02868622,
       33.82174221, 70.28764987, 55.02179423, 82.96518738, 74.89136466,
       57.30609705, 62.02880543, 63.53837425, 72.55316101, 68.21794382])

In [56]:
## Normal hesaplama
sınıf_notları_ortalama = sum(sınıf_notları)/len(sınıf_notları)

In [57]:
sınıf_notları_ortalama

71.24801840699548

In [58]:
##Hazır fonksiyon temelli hesaplama
df["Ortalama"] = sınıf_notları.mean()

In [59]:
df

       Notlar   Ortalama
0   57.682504  71.248018
1   63.869442  71.248018
2   82.287580  71.248018
3   75.551028  71.248018
4   83.221852  71.248018
5   64.441397  71.248018
6   70.022522  71.248018
7   70.975552  71.248018
8   67.595920  71.248018
9   78.562764  71.248018
10  86.103860  71.248018
11  84.782259  71.248018
12  57.819974  71.248018
13  60.533929  71.248018
14  65.459597  71.248018
15  63.574352  71.248018
16  68.563579  71.248018
17  63.072224  71.248018
18  49.498259  71.248018
19  65.004682  71.248018

In [60]:
df["Mode"] = df["Notlar"].mode()

In [62]:
df

       Notlar   Ortalama       Mode
0   57.682504  71.248018  49.498259
1   63.869442  71.248018  57.682504
2   82.287580  71.248018  57.819974
3   75.551028  71.248018  60.533929
4   83.221852  71.248018  63.072224
5   64.441397  71.248018  63.574352
6   70.022522  71.248018  63.869442
7   70.975552  71.248018  64.441397
8   67.595920  71.248018  65.004682
9   78.562764  71.248018  65.459597
10  86.103860  71.248018  67.595920
11  84.782259  71.248018  68.563579
12  57.819974  71.248018  70.022522
13  60.533929  71.248018  70.975552
14  65.459597  71.248018  75.551028
15  63.574352  71.248018  78.562764
16  68.563579  71.248018  82.287580
17  63.072224  71.248018  83.221852
18  49.498259  71.248018  84.782259
19  65.004682  71.248018  86.103860

In [63]:
df["Median"] = df["Notlar"].median()

In [64]:
df

       Notlar   Ortalama       Mode     Median
0   57.682504  71.248018  49.498259  66.527759
1   63.869442  71.248018  57.682504  66.527759
2   82.287580  71.248018  57.819974  66.527759
3   75.551028  71.248018  60.533929  66.527759
4   83.221852  71.248018  63.072224  66.527759
5   64.441397  71.248018  63.574352  66.527759
6   70.022522  71.248018  63.869442  66.527759
7   70.975552  71.248018  64.441397  66.527759
8   67.595920  71.248018  65.004682  66.527759
9   78.562764  71.248018  65.459597  66.527759
10  86.103860  71.248018  67.595920  66.527759
11  84.782259  71.248018  68.563579  66.527759
12  57.819974  71.248018  70.022522  66.527759
13  60.533929  71.248018  70.975552  66.527759
14  65.459597  71.248018  75.551028  66.527759
15  63.574352  71.248018  78.562764  66.527759
16  68.563579  71.248018  82.287580  66.527759
17  63.072224  71.248018  83.221852  66.527759
18  49.498259  71.248018  84.782259  66.527759
19  65.004682  71.248018  86.103860  66.527759

In [68]:
df["Varyans"] = df["Notlar"].var()
df["Standart Sapma"] = df["Notlar"].std()
df["Standart Hata"] = np.std(sınıf_notları ,ddof=1) / np.sqrt(len(sınıf_notları))

In [69]:
df

,Notlar,Ortalama,Mode,Median,Varyans,Standart Sapma,Standart Hata
0,57.682504,71.248018,49.498259,66.527759,100.372007,10.018583,2.828158
1,63.869442,71.248018,57.682504,66.527759,100.372007,10.018583,2.828158
2,82.287580,71.248018,57.819974,66.527759,100.372007,10.018583,2.828158
3,75.551028,71.248018,60.533929,66.527759,100.372007,10.018583,2.828158
4,83.221852,71.248018,63.072224,66.527759,100.372007,10.018583,2.828158
5,64.441397,71.248018,63.574352,66.527759,100.372007,10.018583,2.828158
6,70.022522,71.248018,63.869442,66.527759,100.372007,10.018583,2.828158
7,70.975552,71.248018,64.441397,66.527759,100.372007,10.018583,2.828158
8,67.595920,71.248018,65.004682,66.527759,100.372007,10.018583,2.828158
9,78.562764,71.248018,65.459597,66.527759,100.372007,10.018583,2.828158
10,86.103860,71.248018,67.595920,66.527759,100.372007,10.018583,2.828158
11,84.782259,71.248018,68.563579,66.527759,100.372007,10.018583,2.828158
12,57.819974,71.248018,70.022522,66.527759,100.372007,10.018583,2.828158
13,60.533929,71.248018,70.975552,66.527759,100.372007,10.018583,2.828158
14,65.459597,71.248018,75.551028,66.527759,100.372007,10.018583,2.828158
15,63.574352,71.248018,78.562764,66.527759,100.372007,10.018583,2.828158
16,68.563579,71.248018,82.287580,66.527759,100.372007,10.018583,2.828158
17,63.072224,71.248018,83.221852,66.527759,100.372007,10.018583,2.828158
18,49.498259,71.248018,84.782259,66.527759,100.372007,10.018583,2.828158
19,65.004682,71.248018,86.103860,66.527759,100.372007,10.018583,2.828158

In [41]:
np.std(sınıf_notları,ddof=1)

9.887397432739679

In [42]:
standart_error = np.std(sınıf_notları ,ddof=1) / np.sqrt(len(sınıf_notları))

In [43]:
standart_error

2.2108892780162823